<template>
    <div class="container">
        <form>
            <div class="mb-3">
                <label class="form-label">My note</label>
                <input v-model="note" type="name" class="form-control">
            </div>
            <button @click="sendNote" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div :class="{'alert alert-danger':hasError}">{{feedback}}</div>
    </div>
</template>

<script lang="ts" setup>
import { Ref,ref } from 'vue'
import { useAuth } from '@/store/auth';
import router from '@/router';
import INote from "@/interfaces/INote";

const store=useAuth()
const note:Ref<string> =ref('')
let feedback:Ref<string> =ref('')
let hasError:Ref=ref(false)

    const sendNote=async ()=>{
       const response= await store.createNote(note.value)

       if(response==false){
        hasError.value=true
        feedback.value='Error recording note'
       }else{
        router.push({name:'read'})
       }
    }

</script>

<style scoped>

</style>