<template>
    <div class="container">
        <form>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input v-model="email" type="email" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                    <input v-model="password" type="password" class="form-control">
            </div>
            <button @click.prevent="loginUser" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div :class="{'alert alert-danger':hasError}">{{feedback}}</div>
    </div>
</template>

<script lang="ts" setup>
import { Ref,ref } from 'vue'
import { useAuth} from '@/store/auth';
import router from '@/router';

    let email:Ref=ref('')
    let password:Ref=ref('')
    let hasError:boolean=false
    const store=useAuth()
    const feedback:Ref=ref('')

    const loginUser=async()=>{
        const response=await store.login(email.value,password.value)
        if (response==false){
            hasError=true
            feedback.value='Login error'
        }else{
            router.push({name:'read'})
            
        }
    }

</script>

<style scoped>
    .alert{
        background-color: red;
        color: white;
    }
</style>