<template>
    <table class="table" v-if="notes">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="note in notes" :key="note.id">
      <th scope="row">{{ note.id }}</th>
      <td >{{ note.content }}</td>
    </tr>
  </tbody>
</table>
<p v-else>Not data yet</p>
</template>

<script lang="ts" setup>
    import { useAuth } from '@/store/auth';
    import { ref,Ref,onMounted } from 'vue'
    import INote from "@/interfaces/INote";

    const store=useAuth()
    const notes:Ref <Array<INote>> =ref([])
    onMounted(async () => {
        notes.value=await store.getNotes()
    }),
    
</script>

<style scoped>

</style>@/interfaces/INote