<template>
    <div class="container">
        <form>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input v-model="name" type="name" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input v-model="email" type="email" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                    <input v-model="password" type="password" class="form-control">
            </div>
            <button @click.prevent="createUser" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p>{{ feedback }}</p>
    </div>
</template>

<script lang="ts" setup>
import { Ref,ref } from 'vue'
import { useAuth} from '@/store/auth';
import router from '@/router';

    let name:Ref=ref('')
    let email:Ref=ref('')
    let password:Ref=ref('')

    const store=useAuth()
    const feedback:Ref=ref('')

    const createUser= async()=>{
        const response=await store.register(name.value,email.value,password.value)

        if(response==false){
            feedback.value="Error en el registro"
        }else{
            router.push('read')
        }
    }


</script>

<style scoped>

</style>